@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body{
  display: flex;
  height: 100vh;
  background-color: rgb(73, 73, 73);
}

ul{
  list-style: none;
}