#pokecontainer {
    background-color: #2e3235;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokenav {
    background-color: brown;
    color: #fff;
    height: 80px;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokecontainer ul {
    background-color: #2e3235;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 275px;
    gap: 9px;
}



#box-pokemon {
    background-color: #2e3235;
    height: 250px;
    width: 250px;
    border: 1px solid #4C555C;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

#box-pokemon h2 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 200;
}

.poketure {
    /* background-color: antiquewhite; */
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

.tipo {
    font-size: smaller;
    font-weight: 100;
    display: inline-block;
    width:fit-content;
    padding: 3px 10px;
    color: #fff;
    border-radius: 10px;
}