#pokekon {
    width: 100vw;
}

#pokekon > div{
    height: 100vh;
    background-color: #2e3235;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-evenly; */
}

#apresent {
    grid-area: 1 / 1 / 4 / 4;
}

#apresent img {
    height: 400px;
}

#apresent h2, p {
    text-transform: capitalize;
    text-align: center;
}

#apresent h2 {
    margin-top: 10px;
    font-size: 2rem;
}

#dados {
    grid-area: 2 / 4 / 5 / 6;
    font-size: larger;
    padding: 30px;
} 

#evolute {
    grid-area: -3 / 1 / -1 / 4;
    display: flex;
    flex-direction: column;
}
