#pokecontainer {
    background-color: rgb(135, 135, 135);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokenav {
    background-color: brown;
    color: #fff;
    height: 80px;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokecontainer ul {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 275px;
}

#box-pokemon {
    background-color: #F2F2F2;
    height: 250px;
    width: 250px;
    /* border: 4px solid black; */
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

#box-pokemon h1 {
    text-transform: capitalize;
}

.poketure {
    /* background-color: antiquewhite; */
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

.tipo {
    display: inline-block;
    width: 50%;
    color: #fff;
    border: 2px solid black;
    border-radius: 10px;
}